root {
    display: block;
}

.root {
    -fx-background-image: url("/images/background.jpg");
    -fx-background-size: cover;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

#welcome-text {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #1a37f8;
    -fx-effect: innershadow(three-pass-box, rgba(148, 148, 148, 0.7), 6, 0.0, 0, 2);
}

#actionTarget {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.login-button {
    -fx-background-color: #2776ec;
    -fx-border: none;
    -fx-color: white;
    -fx-font-weight: bold;
    -fx-min-width: 250px;
    -fx-max-width: 250px;
}

.login-field {
    -fx-min-width: 250px;
    -fx-max-width: 250px;
}
